{% extends 'events/event_base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="mt-5 mb-5">{{ event.title }}</h1>
    </div>
    <div>
        <a href="{% url 'event-list' %}" class="text-primary text-decoration-none">
            <i class="fa-solid fa-list"></i>
            All Events
        </a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <tr>
                <td>Event Title</td>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <td>Event Description</td>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ event.start_date }}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{ event.end_date }}</td>
            </tr>
            <tr>
                <td>Event Poster</td>
                <td>
                    {% if event.poster %}
                    <img src="{{ event.poster.url }}" alt="Event Poster" class="img-fluid">
                    {% else %}
                    No event Poster
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Event Brochure</td>
                <td>
                    {% if event.brochure %}
                    <a href="{{ event.brochure.url }}" class="text-decoration-none">
                        Brochure
                    </a>
                    {% else %}
                    No event Brochure
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="col">
        <h4>Registered Participants</h4>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            {% for registration in registrations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ registration.name }}</td>
                <td>{{ registration.email }}</td>
                <td>{{ registration.phone }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}

