{% extends 'base.html' %}

{% block content %}

<div style="margin: 30px;border: 2px solid black;padding: 10px;">
    <h1>Task List</h1>
    <hr/>
    {% for task in tasks %}
    <div style="border: 2px solid black; margin-bottom: 5px;">
        <h3>{{ task.task_title }}</h3>
        <div>
            {{ task.task_description }}
        </div>
        <div>
            Due Date: {{ task.task_enddate }}
        </div>
        </div>
          Operations: <a href="{% url 'edit_task' task.id %}">Edit</a> 
          | <a href="{% url 'delete_task' task.id %}">Delete</a>
        </div>
     </div>
    {% endfor %}
</div>

{% endblock content %}
