{% extends 'base.html' %}

{% block content %}

<div style="margin: 30px;border: 2px solid black;padding: 10px;">
    <h1>Task Details of: {{ task.task_title }}</h1>
    <hr />
    <div style="display: flex;">
        <div style="border: 2px solid black;padding: 20px;">
           <form method="POST">
{% csrf_token %}

<div>
<label for="task-title">Task Title:</label>
<input type="text" id="task-title" name="task-title" value="{{ task.task_title }}">
</div>


<div>
<label for="task-desc">Task Description:</label>
<textarea id="task-desc" name="task-desc">
{{ task.task_description }}
</textarea>
</div>

<div>
<label for="due-date">Due Date:</label>
<input type="date" id="due-date" name="due-date" value="{{ task.task_enddate | date:'Y-m-d' }}">
</div>

<div>
<button type="submit">Update Task</button>
</div>

</form>

        </div>
        <div style="border: 2px solid black; padding: 20px;">
            <h1>
                Task Details:
            </h1>
            <div>
                Task ID: {{ task.id }}
            </div>
            <div>
                Task Title: {{ task.task_title }}
            </div>
            <div>
                Task Description: {{ task.task_description }}
            </div>
            <div>
                Due Date: {{ task.task_enddate }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
